

.cabecalho__mobile {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-principal);
}

.cabecalho__mobile-horario{
    margin: 0.5em 1.2em;
    color: var(--cor-fonte-terciaria);
}

.cabecalho__mobile-icones {
    margin: 0.5em 1.2em;
    display: flex;
    gap: 1em;
}


.cabecalho__perfil {
    display: flex;
    margin: 4em auto 1.5em 1em;
    gap: 1em;
}

.perfil-texto {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.perfil-titulo {
    font-size: 22px;
    font-weight: 700;
    color: var(--cor-fonte-principal);
}

.perfil-alerta {
    color: var(--cor-fonte-secundaria);
}


@media only screen and (min-width: 1400px) {
    .cabecalho__mobile {
        display: none;
    }
}